body { background-color: #43aa59; font-family: Arial, Helvetica, Sans-Serif; Color: black; }



.navbutton {
  user-select: none;
} 
.log {
  height: 100px;
  border: 2px solid black;
  vertical-align: bottom;
  display: contents;
}

.log-content {
  /* margin-top: 5px;
  border: 2px solid black; */
  /* vertical-align: bottom;
  height: 800px; */
  
}

.log-row {
  margin: 0px;
}

.mower-stats{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mode-select{
  margin-top: 10px;
  margin-bottom: 10px;
}


.stats-group{
  margin-bottom: 5px;
  /*margin-right: 10px;*/
  /*min-width: 240px;*/
    background-color: wheat;
    border-radius: 2px;
	height: 100%

}
.single-stats{
  /* display: block; */
}

.stats-name{
  font-weight: bold;
}

.stats-name::after{
  content: ": ";
}

.btn {
  margin: 3px 0px;
  width: 100%;
  overflow: hidden;
}